.elements{
    margin: 75px auto 0;
    gap: 17px;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    color: black;
}

@media screen and (max-width:767px){
    .elements{
        grid-template-columns: 1fr;
    }
}