.footer__link{
    font-weight: 400;
    font-size: 1em;
    line-height: 18px;
    color: white;
    text-decoration: none;
}
@media screen and (max-width:767px) {
    .footer__link{
        font-size: 1.5em;
        line-height: 24px;
    }
}
