.form__profile{
    width: 80%;
    font-family: inherit;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    background-color: transparent;
    color: inherit;
    outline: none;

}
