.footer{
    display: flex;
    width: 90%;
    margin: 10% auto 2.5%;
    position: relative;
    
}
@media screen and (max-width:767px){
    .footer{
        display: block;
        margin-top: 64px;
        max-height: 310px;
    }
}